
* {
    font-family:'Courier New', Courier, monospace
}



/* Style for the hamburger icon */
.hamburger {
    color: black;
    display: block;
    cursor: pointer;
    font-size: 100px;
    position: absolute;
    top: 15px;
    right: 15px;
}

/* Style for the navigation menu */
.sideNav {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 60px; /* Adjust padding to position the links */
}

.sideNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sideNav ul li {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

/* Show the navigation menu when active */
.sideNav.active {
    transform: translateX(0);
}

/* Hide the hamburger icon on larger screens */
@media (min-width: 1000) {
    .hamburger {
        display: none;
    }
}
/* Show the hamburger icon on small screens */
@media (max-width: 1001px) {
    .hamburger {
        display: block;
    }
}

/* Navbar links */
.sideNav ul li a  {
    font-size: 20px;
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}

/* Active link */
.sideNav a.active {
    text-decoration: underline;
}

/* Hover effect */
.sideNav a:hover {
    text-decoration: underline;
    transition: cubic-bezier(1, 0, 0, 1);
}


/* Header */

header{
    text-align: center;
    margin: 0 auto;
    /* min-height: 50px; */
    width: 100%;
    height: 20%;
    background-color: lightblue;
}

header a{
    text-decoration: none;
    color: #333;
}
h1{
    font-size: 50px;
    margin-top: 8%;
    text-align: center;

}

h2{
    margin: 20px;
    text-align: center;
    text-decoration: underline;
}

h3{
    margin: 0;
    text-align: center;
}

h4{
    margin: 0;
    text-align: center;
}



/* Body  */

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content{
    max-width: 1400px;
    width: 80%;
    /* min-width: 800px; */
    margin: 0 auto;
}




/* Main container */
.container {
    
}

.container img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;

}

.flex-container {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.flex-item {
    width: 50%;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    color: #333;
}


.flex-item:hover {
    background-color: lightblue;
    transition:cubic-bezier(1, 0, 0, 1);
    box-shadow: 0;
}


/* Guess Form */
.guess-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
}

.guess-form input {
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #333;
    background: linear-gradient(90deg, blue, darkblue, black, darkblue, blue);
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.guess-form input:disabled {
    background: linear-gradient(90deg, red, darkred, black, darkred, red);;
    color: grey;
}






/* Footer */
footer{
    margin: auto;
    text-align: center;
    min-height: 50px;
}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
footer li {
    margin: 0 10px;

}

footer a {
    color: #333;
    text-decoration: none;
}

article {
    flex: 1;
}




