{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}About me{% endblock %}</title>
{% endblock %}

{% block content %}
<h1 class="text-center">About Me</h1>
<div class="container mt-4">
    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img class="rounded-image" src="{{ url_for('static', filename='img/self_portrait.jpg') }}" class="img-fluid" alt="Profile Picture">
            </div>
            <h3 class="mt-4">Skills</h3>
            <ul class="list-group"></ul>
                <li class="list-group-item">Python & Flask</li>
                <li class="list-group-item">Java</li>
                <li class="list-group-item">Flutter & Dart</li>
                <li class="list-group-item">SQL & NoSQL Databases</li>
                <li class="list-group-item">Git & Github</li>
                <li class="list-group-item">HTML & CSS</li>
                <li class="list-group-item">JavaScript</li>
            </ul>
        </div>
        <div class="col-md-8">
            <h2>Chris Martinez</h2>
            <p>Hello! I'm Chris Martinez, a passionate software developer with a love for creating dynamic and user-friendly applications. With over 2 years of experience, I have honed my skills in Python, Java, C++, and various frameworks.</p>
            <p>In my free time, I enjoy hiking, playing soccer, and exploring new technologies. I'm always eager to learn and take on new challenges.</p>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h3>Education</h3>
                    <p>I am currently attending Lewis University in Romeoville, IL, where I am pursuing a degree in Computer Science. 
                        I previously attended Joliet Junior College (JJC), where I studied Computer programming and earned an A.S. and A.A.</p>
                        During my time at JJC, I was involved in various coding challenges and completed many projects which developed 
                        my passion for software development.</p>
                    <h3>Experience</h3>
                    <p>I have worked on various projects, including web applications, mobile apps, and desktop applications. I have experience 
                        working with databases, APIs, and version control systems. I am always looking for new opportunities to grow and expand my 
                        skill set.</p>
                </div>
                <div class="col-md-6">
                    <h3>Links</h3>
                    <div class="list-group">
                        <a class="list-group-item" href="https://touchingheartssoftware.com/projects.html" target="_blank">Roomie - An Easy-to-Use Meeting Room Scheduler</a>
                        <a class="list-group-item" href="https://www.instagram.com/thehiverapp/" target="_blank">Hiver - A Social Media App to bring back genuine human connection</a>
                        <a class="list-group-item" href="https://jjcwolves.com/sports/mens-soccer/roster/2021" target="_blank">JJC Wolves Men's Soccer 2021</a>
                        <a class="list-group-item" href="https://github.com/coderchris591" target="_blank">Github</a>
                    </div>
                    <h3>Contact</h3>
                    <p>If you'd like to get in touch, feel free to <a href="{{ url_for('contact') }}">contact me</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px;"><hr></div>

</div>
{% endblock %}
