{% extends "template.html" %}

{% block head %} 
    {{super()}}
    <title>{% block title %}ATM{% endblock %}</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h2 class="text-center">Virtual ATM</h2>
        <div class="text-center"></div>
            <button id="withdrawl" class="btn btn-primary" onclick="showSection('withdrawlSection')">Withdrawl</button>
            <button id="deposit" class="btn btn-primary" onclick="showSection('depositSection')">Deposit</button>
            <button id="balance" class="btn btn-primary" onclick="showSection('balanceSection')">Check Balance</button>
        </div>    
        <div id="withdrawlSection" class="section text-center" style="display:none;">
            <form method="post">
                <h3>Withdrawl Amount</h3>
                <input type="number">
                <br>
                <input name="account" type="radio" value="checking">
                <label>Checking</label>
                <input name="account" type="radio" value="savings">
                <label>Savings</label>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="depositSection" class="section text-center" style="display:none;">
            <form method="post">
                <h3>Deposit Amount</h3>
                <input type="number">
                <br>
                <input name="account" type="radio" value="checking">
                <label>Checking</label>
                <input name="account" type="radio" value="savings">
                <label>Savings</label>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="balanceSection" class="section text-center" style="display:none;">
            <form method="post">
                <h3>Account Balance</h3>
                <p>Savings: {{ saving }}</p>
                <p>Checkings: {{ checking }}</p>
            </form>
        </div>
    </div>    
{% endblock %}

{% block scripts %}
<script>
function showSection(sectionId) {
    // Hide all sections
    document.querySelectorAll('.section').forEach(function(section) {
        section.style.display = 'none';
    });
    // Show the selected section
    document.getElementById(sectionId).style.display = 'block';
}
</script>
{% endblock %}
