{% extends "template.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='cards.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block head %} 
{{super()}}
<title>{% block title %}Blackjack{% endblock %}</title>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <h2 class="mt-4 text-center">Blackjack</h2>

    <p class="text-center">This game is for educational purposes only.</p>
    <div><br></div>

    <div class="playingCards">
        <div id="full">
            <ul class="table">
            {% for card in session['deck'] %}
                <li>
                <div class="card rank-{{ card.rank }} {{ card.suit }}">
                    <span class="rank">{{ card.rank }}</span>
                    <span class="suit">{% if card.suit == 'hearts' %}♥{% elif card.suit == 'diams' %}♦{% elif card.suit == 'spades' %}♠{% elif card.suit == 'clubs' %}♣{% endif %}</span>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
        <div class="clear"></div>
        <div class="clear"></div>
        <ul class="hand">
            {% for card in session['dealer_hand'] %}
            <li>
                <div class="card rank-{{ card.rank }} {{ card.suit }}">
                    <span class="rank">{{ card.rank }}</span>
                    <span class="suit">{% if card.suit == 'hearts' %}♥{% elif card.suit == 'diams' %}♦{% elif card.suit == 'spades' %}♠{% elif card.suit == 'clubs' %}♣{% endif %}</span>
                </div>
            </li>
            {% endfor %}
        </ul>

          <ul class="hand">
            {% for card in session['player_hand'] %}
            <li>
                <div class="card rank-{{ card.rank }} {{ card.suit }}">
                    <span class="rank">{{ card.rank }}</span>
                    <span class="suit">{% if card.suit == 'hearts' %}♥{% elif card.suit == 'diams' %}♦{% elif card.suit == 'spades' %}♠{% elif card.suit == 'clubs' %}♣{% endif %}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="clear"></div>
    
    <form class=" clear mt-4" method="post" >
        <div class="form-group">
            <div class="text-center mt-4">
                <button type="submit" name="action" value="reset" class="btn btn-danger" id="reset">Reset</button>
                <button type="submit" name="action" value="stand"class="btn btn-secondary" id="stand">Stand</button>
                <button type="submit" name="action" value="hit"class="btn btn-primary" id="hit">Hit</button>
            </div>
        </div>
    </form>
    

{% endblock %}