{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}Blog{% endblock %}</title>
{% endblock %}

{% block content %}
<div class="blog">
    <div class="text-center">
    <h1>Blog</h1>
    <hr>
    <img src="{{url_for('static', filename='img/automation.jpg')}}" style="width: 100%;">
    <p class="author">Chris Martinez 10/9/2024</p>
    <h2>The Clash of Human Labor and Artificial Intelligence</h2>
    </div>
    
    <p>
        A fundamental principle of the market economy is to maximize profits by reducing input costs. This idea underlies all successful business models.
        By and large, human labor contributes heavily to the input cost of most businesses; therefore, the automation of human labor is often the most effective 
        way to maximize profits and increase the likelihood of success. Concerns regarding automation can be traced back to the industrial revolution, yet there is no
        historical evidence of massive unemployment. However, with the advent of artificial intelligence (AI), human labor is now being automated at an increasing rate.
        Fueled by a reduction in cost and an ability to solve increasingly complex problems, AI is quickly displacing human labor in all sectors. If this trend continues,
        massive unemployment might be inevitable. The answer depends on whether new jobs will be created at the same rate that workers are displaced. If actions are not
        taken, artificial intelligence will cause massive unemployment because the rate of automation made possible by AI will greatly outpace the rate at which new jobs
        are created. This paper will give an overview of the literature regarding AI and employment, including an analysis of how AI is affecting employment, and a 
        discussion of potential solutions. In addition, it will address how new jobs might be created, as well as other opposing views and objections to the massive 
        unemployment model.
    </p>

    <button class='btn btn-primary' onclick="toggleText()" style="display: block; margin: auto;">Continue Reading</button>

    <script>
    function toggleText() {
        var x = document.getElementById("toggleText");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    </script>

    <div id="toggleText" style="display:none;">
    

        <p>
            AI is not an easy thing to define. According to Bar, “Artificial Intelligence is the simulation of human intelligence processes, especially learning and adaptive 
            behavior…” (1). AI is not quite human intelligence, but it is something approaching it. It shows the ability to learn and adapt on a computational level. Of the many 
            subtypes, “machine learning” shows the most promise for its ability to learn on its own (Barr 2). Artificial Intelligence allows for the automation of complex tasks, 
            such as pattern recognition, which was previously a domain exclusive to humans. Of course, AI is not a problem on its own. The issue stems from the fact that we live in 
            a “threat economy,” in which the fear of starvation, homelessness, and death ensure people will continue seeking full-time employment (Walker and Hedden 10), yet “half 
            of major companies already are experimenting with AI.” In fact, Halal, Kolber, and Davies “believe this latest wave of automation strikes so deeply at human abilities that 
            it will bring no compensating burst of job creation” (88). This highlights a fundamental contradiction in the economy: businesses are motivated to automate and reduce labor 
            costs to maximize profits, while at the same time, they rely on a steady labor force to drive consumption and sustain profitability. These two opposing factors lead to 
            troubling conclusions. But why is AI so efficient at automating human labor? In the past, the only type of labor susceptible to automation involved routine, 
            rule-based tasks. To answer the question of why computers historically replaced some jobs and not others, Levy and J. Murnane say that a, “computers' comparative 
            advantage over people lies in tasks that can be described using rules-based logic” (16). Computer programs that use rule-based logic lack the ability to solve unanticipated problems. Before artificial
            intelligence, computers did not have the capacity to do complex tasks that involve expert knowledge and complex communication, but as technology becomes more advanced, an increasing number 
            of jobs will be at risk for automation. According to a 2013 Oxford University study, roughly half of all jobs in the United States are at risk of automation (Barr, Automation and Jobs 1). 
            Businesses may resist automation on moral grounds, but ultimately, they will be forced to automate jobs to stay competitive. In general, businesses are willing to automate jobs if 
            it will save them money. As computers and artificial intelligence become more affordable, companies are more likely to automate jobs wherever they can. In fact, companies will not hire a person 
            until all other options are exhausted. For example, a manager will first consider if the task can be automated. If it cannot be automated, they will try to outsource the labor; if that is not available, 
            they will seek to hire an independent contractor. Hiring is often a last resort (Barr, Automation and Jobs 4). Not only is direct hiring of human labor deprioritized, but new 
            industries also require less human labor to reach increasingly wide markets across the globe. Because new businesses are often technology based and exist in the information 
            economy, “an increased number of goods and services are being digitised” (Danaher, Will Life Be Worth Living in a World Without Work? 46). Digital goods and services 
            can be distributed over the internet, which requires much less maintenance and overhead than other distribution networks. In addition, they can be reused quite easily in new markets relative to 
            physical goods and services. One thing is for sure, technological unemployment is becoming more of a concern. According to one study, which did a systematic review of the most relevant literature in regard 
            to artificial intelligence and employment between 2008 and 2020, the number of publications on the topic jumped dramatically in 2018. The authors found four main categories of 
            concerns related to artificial intelligence and employment: “AI and the future of market jobs”; “Polarization of jobs and wages”; “Disruptions in jobs demand, changes in education, and reorganization of 
            the workplace”; and “Social controlling, surveillance, and ranking” (De Acypreste and Paraná 1015). Even in everyday life, people are becoming more aware of the ability of robots equipped with 
            artificial intelligence to do complex tasks. Stories about robots cleaning floors in the home, serving food in a restaurant, and driverless cars are becoming the norm. While 
            people may not realize the true scope of these happenings and their potential consequences, there seems to be a general concern regarding the issue of automation. Heinrich and Witko studied the 
            concern of the public by surveying people across many European countries. They found that “only a relatively small share of people has serious selfish TIJL [Technology induced job loss] 
            concerns (172). Meaning that people are generally secure in their own employment with respect to automation. On the other hand, the survey found that people have a much higher concern 
            when asked about automation on a social level. They found that “About three-fifths of respondents are very concerned, agreeing with both statements that with technology, more jobs 
            will disappear than new jobs will be created, and that robots and artificial intelligence steal peoples' jobs” (Heinrich and Witko 172). It is clear that the general population 
            is aware of the impact automation will have on jobs, but they, perhaps naively, believe that their own jobs are safe from it.
        </p>

        <p>
            Although people are generally concerned about technological unemployment, a certain level of confusion on the topic is to 
            be expected. Just as the rate of technological advancement is difficult to predict, so too is the effect of that technological advancement. Though that does not stop people from trying. 
            As mentioned previously with the Oxford study, roughly fifty percent of jobs are at risk of automation. Many estimates throughout the literature concur, hovering around fifty percent. The
            problem is: just as technology is performing tasks that were previously thought impossible, tasks that seem untouchable to artificial intelligence today could be taken over in the future.
            There are countless instances of mechanization and automation in industrialized nations today. For example, the automatic transaction machine saves hours of teller work and can operate at all 
            times, the self-checkout kiosk now popular in Walmart stores has decreased the need for store clerks, countless data entry jobs were lost to software that can do the task automatically, 
            and so many others. Another route of technology to unemployment is through outsourcing. Many of the jobs lost to automation may also have been lost to outsourcing to industrializing 
            nations. Standing states that, “low labour costs in industrialising countries have encouraged multinationals to shift jobs to subsidiaries there to a much greater extent” (139). This is an
            indirect route that technology takes to increase unemployment. Lower wages in the international job market leads to the saturation of the supply of labor, coupled with the switch to 
            high-tech industries, which require less labor to operate. A larger supply and lesser demand of labor in the international market leads to increased unemployment. As time goes on, many
            potential fields of work will become susceptible to automation. 
                    <!-- One such field is sex work. Either sex work can be automated, or it cannot. If the former is true, then the question
                becomes whether or not a demand for automated sex work will be created. This can best be understood by highlighting the benefits of automated sex work as compared to human sex work. 
                John Danaher lists the advantages of automated sex work as: “legal advantages” in countries where prostitution is illegal, “ethical advantages” which include the lessening of sex 
                trafficking, “health risk advantages” such as the avoidance of sexually transmitted diseases, and “advantages of flexibility and production” to the extent that robots can be programmed,
                with AI, to fit the needs of a consumer (Sex Work, Technological Unemployment and the Basic Income Guarentee 117). Even if all of these advantages come to fruition, humans may still
                prefer a human over a robot. Because of the number of factors in play, predictability is low, but the automation of sex work is still a distinct possibility. Could humans possibly
            benefit from a world with less work and more free time? -->
        </p>
        <p>Work is a pillar of human society, but it has come into question in the technological age. The fear of mass unemployment is justified, but only because the current economic model requires
            humans to work for survival. Is it possible to pass on the benefits of automation to everyone?  Also, if massive unemployment does occur, provided it does not lead to suffering, what will
            humans do with the newly allowed free time? To answer the first question, Danaher says the benefits of automation can be spread evenly with the use of wealth distribution, assuming that
            resources are in abundance (Will Life Be Worth Living in a World Without Work? 47). The second question is more philosophical, i.e., what makes life fulfilling? After all, according to Danaher,
            “There is a widespread view that work is virtuous, and the absence of paid employment could lead to vicious forms of idleness, boredom, and depression” (47). For those who side with this view, 
            technological unemployment brings a heavy threat to human dignity. The opposing view says that work is overwhelmingly bad for us, and that getting rid of work would benefit humanity immensely.
            If it is true that “few people are happy with their work” and “many forms of work are degrading and humiliating” (Danaher 47), one might empathize with the anti-work argument. Most people would 
            agree that freedom is an important factor in determining one's happiness. An analysis by Maskivker points out three ways that work decreases freedom: “Compulsory work limits our ability to 
            choose how to make use of our time; limits our ability to be the authors of our own lives; and/or involves exploitative/coercive offers” (Danaher 49). Work is a normalized method of survival
            in human society, so people are naturally skeptical of anti-work arguments, but the skepticism is propelled by a misunderstanding of human behavior. 
            Of the potential solutions that would mitigate the consequences of massive unemployment, one solution stands out: a universal guaranteed income (UGI), where every individual, regardless of income, 
            is paid a stipend that is equal to the amount required to have an acceptable standard of living. UGI is not a new idea. Martin Luther King Jr. was a proponent of the idea as a direct solution to
            end poverty. Assuming UGI is possible, it is not difficult to see how it would ease some of the potential negative outcomes of massive technological unemployment. Displaced persons would still 
            be able to afford the necessities of life. Danaher provides a definition of a basic income by the Basic Income Earth Network. They define a basic income as “an income unconditionally granted to all
            on an individual basis, without means test or work requirement” (Sex Work, Technological Unemployment and the Basic Income Guarentee 122). UGI is a specific method of wealth redistribution mentioned
            previously. Although a basic income, or some other form of wealth redistribution, will ultimately be necessary to ease suffering from technological unemployment, it is also likely that some new 
            jobs will be created as a result of AI. 
            AI also has the potential to create jobs as it is integrated into the market. One way this could happen is by increasing demand for a particular product or service by lowering 
            the price. Advanced technology is also creating new industries and products. Although these industries may not be sustainable, they will certainly maintain employment for a time. Industries
            such as “e-commerce, alternative energy, green economy, Internet of Things, hi-tech homes, climate control, intelligent cars” will continue to grow in years to come (Halal, Kolber and Davies 
            86). There are a few reasons to doubt the massive unemployment hypothesis. Most notably, the empirical evidence provides no backing for the belief that automation will cause mass
            unemployment. The belief that technology destroys jobs is often called the Luddite fallacy. According to Walker and Hedden, “The Luddites (1811-1817) reacted against the mechanized machinery
            of the industrial revolution…[They] wrecked machinery, killed capitalists and battled with the British army” (11). The Luddites' reaction, like that of many people today, was based on fear,
            but the Luddites were dealing with mechanization, which is an extremely limited form of automation in comparison to artificial intelligence. Still, for current day concerns about massive
            unemployment to be true, they must overcome the Luddite fallacy. 
        </p>

        <p>
            In its current state, artificial intelligence is capable of doing complex tasks equal to basic human intelligence. Because the market system requires labor-for-income, workers must 
            constantly maintain or seek full time employment. On the other hand, owners must constantly cut costs to improve their margins. In consideration of AI's ability to automate complex tasks, 
            there appears to be a fundamental contradiction in the system, which is that while workers will seek employment, owners will seek to eliminate employment through automation. Unlike previous forms of
            automation, AI is not limited to rule-based or monotonous tasks. It is able to “learn” and “adapt” on its own. Although there is a general concern for this new type of automation, more 
            education on the topic is needed so that the general population understands the potential negative consequences. On an optimistic note, the freeing of human labor can have a positive impact 
            on society if the technology is integrated properly, along with governmental regulation of wealth redistribution. AI will certainly create new jobs, i.e., jobs in the tech industry and related 
            product manufacturing, but not nearly as fast as it will eliminate jobs. If proper preventative measures are not implemented, the number of jobless people could reach a critical mass and cause civil unrest.     
        </p>

        <h3>Works Cited</h3>

        <p>
            Barr, James G. "Artificial Intelligence."2011. FAITS - Faulkner Advisory for IT Studies. <a href="http://www.faulkner.com.eu1.proxy.openathens.net/products/faulknerlibrary/00021010.htm">http://www.faulkner.com.eu1.proxy.openathens.net/products/faulknerlibrary/00021010.htm</a>. Accessed on 18 April 2023.
            <br><br>
            Barr, James G. "Automation and Jobs." 2020. FAITS - Faulkner Advisory for IT Studies. <a href="http://www.faulkner.com.eu1.proxy.openathens.net/products/faulknerlibrary/">http://www.faulkner.com.eu1.proxy.openathens.net/products/faulknerlibrary/.</a>  Accessed on 18 April 2023.
            <br><br>
            Danaher, John. "Sex Work, Technological Unemployment and the Basic Income Guarantee." Journal of Evolution & Technology. Vol. 24, no. 1, 2014, pp. 113-130. Academic Search Ultimate, <a href="https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=5&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis">https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=5&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis.</a> Accessed on 19 April 2023.
            <br><br>
            Danaher, John. “Will Life Be Worth Living in a World Without Work? Technological Unemployment and the Meaning of Life.” Science and Engineering Ethics, Vol. 23, no. 1, 2017, pp. 41-64. Academic Search Ultimate, <a href="https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=7&sid=7907cf1a-6c6c-4ad1-bb26-4dfe1c77b9a4%40redis">https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=7&sid=7907cf1a-6c6c-4ad1-bb26-4dfe1c77b9a4%40redis</a>. Accessed on 19 April 2023.
            <br><br>
            De Acypreste, Rafael and Edemilson Paraná. "Artificial Intelligence and employment: a systematic review." Brazilian Journal of Political Economy. Vol. 43, no. 4, 2022, pp. 1014-1032. Academic Search Ultimate. <a href="https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=8&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis">https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=8&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis</a>. Accessed on 19 April 2023.
            <br><br>
            Halal, William, Jonathan Kolber and Owen Davies. "Forecasts of AI and Future Jobs in 2030: Muddling Through Likely, with Two Alternative Scenarios." Journal of Future Studies, Vol. 21, no. 2, 2016, pp. 83-95. Academic Search Ultimate, <a href="https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=10&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis">https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=10&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis</a>. Accessed on 20 April 2023.
            <br><br>
            Heinrich, Tobias and Christopher Witko. "Technology-Induced Job Loss and the Prioritization of Economic Problems in the Mass Public." Review of Policy Research, Vol. 38, no. 2, 2021, pp. 164-179. Academic Search Ultimate, <a href="https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=12&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis">https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=12&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis</a>. Accessed on 20 April 2023.
            <br><br>
            Levy, Frank and Richard J. Murnane. The New Division of Labor. Princeton: Princeton University Press, 2004. Print. Accessed on 12 March 2023.
            <br><br>
            Standing, Guy. "The notion of technological unemployment." International Labour Review, Vol. 123, no. 2, 1984, pp. 127-147. Accessed on 24 April 2023.
            <br><br>
            Walker, Mark and Richard L. Hedden. "BIG and Technological Unemployment: Chicken Little Versus the Economists." Journal of Evolution & Technology, Vol. 24, no. 1, 2014, pp. 5-25. Academic Search Ultimate. <a href="https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=19&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis">https://web.s.ebscohost.com/ehost/pdfviewer/pdfviewer?vid=19&sid=c3df8d9a-dbcc-4092-a09b-c4531549a713%40redis</a>. Accessed on 23 April 2023.
        </p>
    </div>
</div>

{% endblock %}
