{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}Contact{% endblock %}</title>
{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Contact</h1>
    <hr>
    <div class="list-group contact" style="width: 300px; margin: auto;">
        <a href="mailto:chmartinez2014@gmail.com" class="list-group-item list-group-item-action" target="_blank">chmartinez2014@gmail.com</a>
        <a href="https://www.linkedin.com/in/chris-martinez-software/" class="list-group-item list-group-item-action" target="_blank"><img src="{{url_for('static', filename='img/linkedin-logo-black.png')}}" alt="LinkedIn Profile" width="100"></a>
        <a href="https://x.com/chrismartinezII" class="list-group-item list-group-item-action" target="_blank"><img src="{{url_for('static', filename='img/x-logo-black.png')}}" alt="X Profile" width="25"></a>
    </div>
{% endblock %}
