{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}Credit Card Validator{% endblock %}</title>
{% endblock %}

{% block content %}
    
    <div class="credit-div container mt-4">
        <h2 class="text-center">Credit Card Validator</h2>

        <p class="info text-center">Validate any credit card number</p>
        <form class="normal" method="post">
            <div class="form-group">
                <input class="form-control" type="text" id="ccn" name="ccn" placeholder="xxxx xxxx xxxx xxxx" autocomplete="off">
            </div>
            <script>
                document.getElementById('ccn').addEventListener('input', function (e) {
                    let value = e.target.value.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
                    let formattedValue = value.match(/.{1,4}/g)?.join(' ') || '';
                    e.target.value = formattedValue;
                });
            </script>
            <div class="form-group text-center">
                <input class="btn btn-primary" type="submit" value="Validate">
            </div>
        </form>

        {% if card_type == None %}
            {{ pass }}
        {% elif card_type == "Invalid" %}
            <p class="text-center alert alert-danger">Invalid</p>
        {% else %} 
            <div class="credit text-center">
                {% if card_type == "AMERICAN EXPRESS" %}
                    <img  src="{{ url_for('static', filename='img/amex.png') }}" alt="American Express" class="img-fluid">
                    <p class="alert alert-success ">Valid American Express card</p>
                {% elif card_type == "DISCOVER" %}
                    <img src="{{ url_for('static', filename='img/discover.png') }}" alt="Discover" class="img-fluid">
                    <p class="alert alert-success">Valid Discover card</p>
                {% elif card_type == "MASTERCARD" %}
                    <img src="{{ url_for('static', filename='img/mastercard.png') }}" alt="MasterCard" class="img-fluid">
                    <p class="alert alert-success">Valid MasterCard</p>
                {% elif card_type == "VISA" %}
                    <img src="{{ url_for('static', filename='img/visa.png') }}" alt="Visa" class="img-fluid">
                    <p class="alert alert-success">Valid Visa card</p>
                {% endif %}
            </div>
        {% endif %}
        <p class="alert alert-info text-center">This site will not collect or store your credit card number. It simply applies the number to the <a href="https://en.wikipedia.org/wiki/Luhn_algorithm" target="_blank">Luhn Algorithm</a> to determine if the card is valid.</p>
    </div>
{% endblock %}

