{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}2018 World Cup Simulator{% endblock %}</title>
{% endblock %}

{% block content %}
    <div class="header text-center my-4">
        <h1>World Cup Simulator</h1>
    </div>

    <div class="text-center container">

        <h2 class="my-4">Simulate the 2018 World Cup </h2>
        
        <form method="post" class="mb-4">
            <div class="form-group">
                <input type="number" name="simulations" class="form-control" placeholder="Number of simulations" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Simulate</button>
        </form>
    </div>
    <div class="container">
        {% if stats %}
            <h2 class="my-4">Chances of winning</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Chance</th>
                        <th>Wins</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dict in stats %}
                        <tr>
                            <td>{{ dict.team }}</td>
                            <td>{{ dict.chance }}%</td>
                            <td>{{ dict.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

