{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}Graph Theory{% endblock %}</title>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
function showSection(sectionType, headerText) {
    // Hide all sections
    document.querySelectorAll('.section').forEach(function(section) {section.style.display = 'none';});
    // Show the main section
    document.getElementById('mainSection').style.display = 'block';
    // Change the header text
    document.getElementById('sectionHeader').innerText = headerText;
    // Set the hidden input value
    document.getElementById('sectionInput').value = sectionType;
}
</script>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h2 class="text-center">Graph Theory</h2>
        <div class="text-center">
            <button id="cartesianProduct" class="btn btn-info" onclick="showSection('cartesianProduct', 'Cartesian Product')">Cartesian Product</button>
            <button id="union" class="btn btn-info" onclick="showSection('union', 'Union')">Union</button>
            <button id="intersection" class="btn btn-info" onclick="showSection('intersection', 'Intersection')">Intersection</button>
        </div>   

        <div id="mainSection" class="section text-center" style="display:none;">
            <form method="post">
            <h3 id="sectionHeader">Section Header</h3>
            <div class="form-group">
            <input type="text" name="setA" class="form-control required" placeholder="Set A" required >
            </div>
            <div class="form-group">
            <input type="text" name="setB" class="form-control" placeholder="Set B" required>
            </div>
            <input type="hidden" id="sectionInput" name="section" value="">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        {% if result %}
        <div class=" text-center">
            <div class="">
                <hr>
                <h3>The {{ type }} of<br>{ {% for item in setA %}{{ item }}{% if not loop.last %},{% endif %}{% endfor %} } and { {% for item in setB %}{{ item }}{% if not loop.last %},{% endif %}{% endfor %} } is: </h3>
                <h3>{ {% for item in result %}{{ item }}{% if not loop.last %},{% endif %}{% endfor %} }</h3>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
