{% extends "template.html" %}


{% block head %} 
    <title>{% block title %}Guess{% endblock %}</title>
{% endblock %}

{% block content %}

<h2>Guess</h2>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var guess = "{{ guess }}";
        var randomNumber = "{{ random_number }}";

        if (guess !== '' && guess !== 'None') {
            var message = "";
            if (guess == randomNumber) {
                message = "You Got It!";
            } else if (guess > randomNumber) {
                message = "It's Smaller than " + guess + "!";
            } else {
                message = "It's Bigger than " + guess + "!";
            }

            var alertBox = document.createElement('div');
            alertBox.className = 'alert-box';
            alertBox.innerText = message;

            document.body.appendChild(alertBox);

            setTimeout(function() {
                alertBox.remove();
            }, 3000);
        }
    });
</script>

<p class="info">Number of guesses: {{ attempts }}</p>




<form class="guess-form" action="" method="get">
    {% if guess == random_number %}
        <input id="winning-number" type="button" value="{{ random_number }}">
    {% else %}
    <br>
    <input name="guess" type="submit" value="1" class="btn" {% if 1 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="2" {% if 2 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="3" {% if 3 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="4" {% if 4 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="5" {% if 5 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="6" {% if 6 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="7" {% if 7 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="8" {% if 8 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="9" {% if 9 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    <input name="guess" type="submit" value="10" {% if 10 in guesses %} disabled {% elif guess == random_number %} disabled {% endif %}>
    {% endif %} 
</form>

{% if guess == random_number %} 
    <a id="guess-play-again" class="link" href="{{ url_for('get_sessions', app='guess') }}">Play Again</a>
{% endif %} 

   

{% endblock %}