{% extends "template.html" %}

{% import "bootstrap/utils.html" as utils %}




{% block head %} 
{{super()}}
<title>{% block title %}Home{% endblock %}</title>
{% endblock %}



 
{% block content %}

<div class="container">
<h1 class="text-center">All Apps</h1>
<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row space-16">&nbsp;</div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('get_sessions', app='guess') }}">
                                <img src="{{ url_for('static', filename='img/numbers.jpg') }}" style="width:100%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('get_sessions', app='guess') }}">Guess the Number</a></h4>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('get_sessions', app='phrase') }}">
                                <img src="{{ url_for('static', filename='img/hangman.png') }}" style="width:100%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('get_sessions', app='phrase') }}">Hang Man</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('credit_card_validator') }}">
                                <img src="{{ url_for('static', filename='img/creditcard.png') }}" style="width:100%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('credit_card_validator') }}">Credit Card Validator</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row space-16">&nbsp;</div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('readability') }}">
                                <img src="{{ url_for('static', filename='img/book1.gif') }}" style="width:100%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('readability') }}">Readability</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('atm') }}">
                                <img src="{{ url_for('static', filename='img/atm.png') }}" style="width:100%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('atm') }}">ATM</a></h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('fifa_world_cup') }}">
                                <img src="{{ url_for('static', filename='img/soccer-ball.png') }}" style="width:100%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('fifa_world_cup') }}">World Cup Simulator</a></h4>
                    </div>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
<h1 class="text-center">Links</h1>
<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row space-16">&nbsp;</div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('about') }}">
                                <img  src="{{ url_for('static', filename='img/self_portrait.jpg') }}" style="width:80%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('get_sessions', app='guess') }}" target="_blank">About</a></h4>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail" style="margin-bottom: 20px;">
                    <div class="caption text-center">
                        <div class="position-relative">
                            <a href="{{ url_for('contact') }}">
                                <img src="{{ url_for('static', filename='img/contact.webp') }}" style="width:100%; height:auto; max-width: 150px;" />
                            </a>
                        </div>
                        <h4 id="thumbnail-label"><a href="{{ url_for('contact') }}" target="_blank">Contact</a></h4>
                    </div>
                </div>
            </div>
        </div>


    <footer>
        <nav class="text-center">
            <ul class="list-inline">
                <li class="list-inline-item" style="margin-right: 10px;"><a href="https://github.com/coderchris591" target="_blank"><img src="{{ url_for('static', filename='img/github-mark.png') }}" alt="Github" style="width:30px; height:auto;"></a></li>
                <li class="list-inline-item" style="margin-right: 10px;"><a href="https://www.linkedin.com/in/chris-martinez-software/" target="_blank"><img src="{{ url_for('static', filename='img/linkedin-logo-black.png') }}" alt="LinkedIn" style="width:60px; height:auto;"></a></li>
                <li class="list-inline-item" style="margin-right: 10px;"><a href="https://x.com/chrismartinezII" target="_blank"><img src="{{url_for('static', filename='img/x-logo-black.png')}}" alt="X Profile" style="width:25px; height:auto;"></a></li>
                <li class="list-inline-item" style="margin-right: 10px;"><a href="mailto:chmartinez2014@gmail.com" target="_blank"><img src="{{ url_for('static', filename='img/email-icon.png') }}" alt="Github" style="width:30px; height:auto;"></a></li>
            </ul>
        </nav>
        <p class="text-center"><small>&copy; Chris Martinez 2024</small></p>
    </footer>

</div>
{% endblock %}

 