{% extends "template.html" %}

{% block head %} 
    <title>{% block title %}Pyweb{% endblock %}</title>
{% endblock %}

 
{% block content %}
<h2>All Apps</h2>
<div class="container">
    <div class="flex-container">
        <a class="flex-item" href="{{ url_for('get_sessions', app='guess') }}">
            <img src="{{ url_for('static', filename='img/numbers.jpg') }}">
            <h1>Guess the Number</h1>
        </a>
        <a class="flex-item" href="{{ url_for('get_sessions', app='phrase') }}">
            <img src="{{ url_for('static', filename='img/hangman.png') }}">
            <h1>Hang Man</h1>
        </a>
        <a class="flex-item" href="{{ url_for('credit_card_validator') }}">
            <img src="{{ url_for('static', filename='img/creditcard.png') }}">
            <h1>Credit Card Validator</h1>
        </a>
        <a class="flex-item" href="{{ url_for('readability') }}">
            <img src="{{ url_for('static', filename='img/book1.gif') }}">
            <h1>Readability</h1>
        </a>
        <a class="flex-item" href="{{ url_for('atm') }}">
            <img src="{{ url_for('static', filename='img/atm.png') }}">
            <h1>ATM</h1>
        </a>
        <a class="flex-item" href="{{ url_for('fifa_world_cup') }}">
            <img src="{{ url_for('static', filename='img/soccer-ball.png') }}">
            <h1>World Cup Simulator</h1>
        </a>
    </div>
    <footer>
        <nav>
            <ul>
                <li><a href="#">Github</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">X</a></li>
                <li><a href="#">LinkedIn</a></li>

            </ul>
        </nav>
        <p><small>&copy; Chris Martinez 2024</small></p>

    </footer>
</div>
{% endblock %}

 