{% extends "template.html" %}

{% block head %} 
    <title>{% block title %}Home{% endblock %}</title>
{% endblock %}

 
{% block content %}
<h2>All Apps</h2>
<div class="container">
    <div class="flex-container">
        <a class="flex-item" href="{{ url_for('get_sessions', app='guess') }}"><img src="{{ url_for('static', filename='img/numbers.jpg') }}">Guess the Number</a>
        <a class="flex-item" href="{{ url_for('get_sessions', app='phrase') }}"><img src="{{ url_for('static', filename='img/hangman.png') }}">Hang Man</a>
        <a class="flex-item" href="{{ url_for('credit_card_validator') }}"><img src="{{ url_for('static', filename='img/creditcard.png') }}">Credit Card Validator</a>
        <a class="flex-item" href="{{ url_for('readability') }}"><img src="{{ url_for('static', filename='img/book1.gif') }}">Readability</a>
        <a class="flex-item" href="{{ url_for('atm') }}"><img src="{{ url_for('static', filename='img/atm.png')}}">ATM</a>
        <a class="flex-item" href="{{ url_for('fifa_world_cup') }}"><img src="{{ url_for('static', filename='img/soccer-ball.png')}}">World Cup Simulator</a>
    </div>
</div>
{% endblock %}

 