{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}You Lost{% endblock %}</title>
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1>You Lost!</h1>
</div>
<div class="text-center container">
    <div class="alert alert-success" role="alert">
        <h3 class="alert-heading">Sorry! The phrase was <br> "{{ phrase }}"</h3>
    </div>
    <a href="{{ url_for('get_sessions', app='phrase') }}" class="btn btn-primary">Play Again</a>
</div>
{% endblock %}
