{% extends "template.html" %}

{% block head %} 
{{super()}}
<title>{% block title %}Hang Man{% endblock %}</title>
{% endblock %}

{% block content %}
    <div class="container">
    <h2 class="text-center">Guess the Phrase</h2> 

    <div class="text-center">
        {% if mistakes == 0 %}
            <img src="{{ url_for('static', filename='img/hangman1.png') }}" class="img-fluid">
        {% elif mistakes == 1 %}
            <img src="{{ url_for('static', filename='img/hangman2.png') }}" class="img-fluid">
        {% elif mistakes == 2 %}
            <img src="{{ url_for('static', filename='img/hangman3.png') }}" class="img-fluid">
        {% elif mistakes == 3 %}
            <img src="{{ url_for('static', filename='img/hangman4.png') }}" class="img-fluid">
        {% elif mistakes == 4 %}
            <img src="{{ url_for('static', filename='img/hangman5.png') }}" class="img-fluid">
        {% elif mistakes == 5 %}
            <img src="{{ url_for('static', filename='img/hangman6.png') }}" class="img-fluid"> 
        {% endif %}
        <h2 class="mt-3 display-2">
        {% for letter in output %}
            {% if letter == ' ' %} 
            <span class="mx-4 display-1">-</span>
            {% else %} 
            <span class="mx-4 display-1">{{ letter }}</span>
            {% endif %}
        {% endfor %}
        </h2>

    </div> 
    <div class="alphabet text-center mt-4">   
        <form action="" method="get" style="max-width: 600px; margin: auto;">
            <div class="d-flex flex-wrap justify-content-center">
                {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                    <input id="guess{{ loop.index }}" type="submit" name="guess" value="{{ letter }}" class="btn btn-primary" style="margin: 2px;" {% if letter.lower() in guesses %} disabled {% endif %}>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock %}