{% extends "template.html" %}

{% block head %} 
    <title>{% block title %}Hang Man{% endblock %}</title>
{% endblock %}

{% block content %}
<h2>Readability</h2>
<div>
    <p class="info">Determine the reading level of any text!</p>

    <form class="normal" method="post">
        <input class="input-text" type="text" name="text" placeholder="Text to evaluate">
        <br>
        <input class="input-submit" type="submit" value="Evaluate">
    </form>

    {% if index == -16 %} 
        {{ pass }}
    {% elif index > 16 %} 
        <p class="info">College level</p> 
    {% elif index < 1 %} 
        <p class="info">Below grade 1</p>  
    {% else %}
    <p class="info">Grade Level: {{ index }}</p>
    {% endif %}
</div> 
{% endblock %}