<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('work4gov.static', filename='work4govstyles.css') }}">
</head>
<body>
    <header>{% block header %}{% endblock %}</header>
    <main>
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </main>
    <footer>
        <p>&copy; Chris Martinez {{ 2025 }}</p>
    </footer>
</body>
</html>