{% extends "base.html" %}

{% block header %}<h2>Build your query</h2>{% endblock %}
{% block content %}
<form class="question" method="post" action="{{ url_for('questionnaire') }}">
    {% if question_index == 0 %}
        <label for="name">What's your name?</label>
        <input type="text" id="name" name="name" placeholder="Name" autocomplete="off" autofocus>
        <input type="hidden" name="question_index" value="0">
    {% elif question_index == 1 %}
        <label for="position_title">Select your desired positions.</label>
        <input type="text" id="position_title_input_field" name="position_title_input" placeholder="Position" oninput="showSuggestions(this.value)" autocomplete="off" autofocus>
        <input type="hidden" name="question_index" value="1">
        <div id="suggestions"></div>
        <div id="selected_positions" class="selected-positions"></div>
        <input type="hidden" name="position_title" id="position_title">
    {% elif question_index == 2 %}
        <label for="minimum_salary">Whats the minimum you want to make?</label>
        <div class="select-items">
            <div data-value="0" onclick="selectItem(this)">Any</div>
            <div data-value="25000" onclick="selectItem(this)">$25,000</div>
            <div data-value="50000" onclick="selectItem(this)">$50,000</div>
            <div data-value="75000" onclick="selectItem(this)">$75,000</div>
            <div data-value="100000" onclick="selectItem(this)">$100,000</div>
            <div data-value="125000" onclick="selectItem(this)">$125,000</div>
            <div data-value="150000" onclick="selectItem(this)">$150,000</div>
            <div data-value="175000" onclick="selectItem(this)">$175,000</div>
            <div data-value="200000+" onclick="selectItem(this)">$200,000 or greater</div>
        </div>
        <input type="hidden" name="minimum_salary" id="minimum_salary_input">
        <input type="hidden" name="question_index" value="2">
    {% elif question_index == 3 %}
        <label for="location">Where would you like to work?</label>
        <input type="text" id="location" name="location" placeholder="Location" autocomplete="off">
        <input type="hidden" name="question_index" value="3">

        <div id="selected_locations" class="selected-positions"></div>

        <input type="hidden" name="location" id="location_input">

        <p>Or hit next to search all locations.</p>
    {% elif question_index == 4 %}
        <label for="travel">How much do you want to travel?</label>
        <div class="select-items">
            <div data-value="0" onclick="selectItem(this)">Never</div>
            <div data-value="1" onclick="selectItem(this)">Occasionally</div>
            <div data-value="2" onclick="selectItem(this)">Some of the time</div>
            <div data-value="5" onclick="selectItem(this)">Half the time</div>
            <div data-value="7" onclick="selectItem(this)">More than half the time</div>
            <div data-value="8" onclick="selectItem(this)">All the time</div>
        </div>
        <input type="hidden" name="travel" id="travel">
        <input type="hidden" name="question_index" value="4">
    {% elif question_index == 5 %}
        <label for="schedule_type">What types of schedule are you looking for?</label>
        <div class="select-items">
            <div data-value="1" onclick="toggleSelectItem(this)">Full-Time</div>
            <div data-value="2" onclick="toggleSelectItem(this)">Part-Time</div>
            <div data-value="3" onclick="toggleSelectItem(this)">Shift Work</div>
            <div data-value="4" onclick="toggleSelectItem(this)">Intermittent</div>
            <div data-value="5" onclick="toggleSelectItem(this)">Job Sharing</div>
            <div data-value="6" onclick="toggleSelectItem(this)">Multiple Schedules</div>
        </div>
        <input type="hidden" name="schedule_type" id="schedule_type_input">
        <input type="hidden" name="question_index" value="5">
    {% elif question_index == 6 %}
        <label for="willing_to_relocate">Are you willing to relocate?</label>
        <div class="select-items">
            <div data-value="Yes" onclick="selectItem(this)">Yes</div>
            <div data-value="No" onclick="selectItem(this)">No</div>
        </div>
        <input type="hidden" name="willing_to_relocate" id="willing_to_relocate_input">
        <input type="hidden" name="question_index" value="6">
    {% elif question_index == 7 %}
        <label for="security_clearance">Security clearance?</label>
        <div class="select-items">
            <div data-value="0" onclick="toggleSelectItem(this)">Not Required</div>
            <div data-value="1" onclick="toggleSelectItem(this)">Confidential</div>
            <div data-value="2" onclick="toggleSelectItem(this)">Secret</div>
            <div data-value="3" onclick="toggleSelectItem(this)">Top Secret</div>
            <div data-value="4" onclick="toggleSelectItem(this)">Sensitive Compartmented Information</div>
            <div data-value="5" onclick="toggleSelectItem(this)">Q Access Authorization</div>
            <div data-value="7" onclick="toggleSelectItem(this)">L Access Authorization</div>
            <div data-value="8" onclick="toggleSelectItem(this)">Other</div>
        </div>
        <input type="hidden" name="security_clearance" id="security_clearance_input">
        <input type="hidden" name="question_index" value="7">
    {% elif question_index == 8 %}
        <label for="radius">How far are you willing to travel?</label>
        <div class="select-items">
            <div data-value="25" onclick="selectItem(this)">25 miles</div>
            <div data-value="50" onclick="selectItem(this)">50 miles</div>
            <div data-value="75" onclick="selectItem(this)">75 miles</div>
            <div data-value="100" onclick="selectItem(this)">100 miles</div>
            <div data-value="125" onclick="selectItem(this)">125 miles</div>
            <div data-value="150" onclick="selectItem(this)">150 miles</div>
        </div>
        <input type="hidden" name="radius" id="radius_input">
        <input type="hidden" name="question_index" value="8">
    {% elif question_index == 9 %}
        <label for="hiring_path">Which hiring paths would you like to follow?</label>
        <div class="select-items">
            <div data-value="public" onclick="toggleSelectItem(this)">Open to the public</div>
            <div data-value="graduates" onclick="toggleSelectItem(this)">Recent graduates</div>
            <div data-value="student" onclick="toggleSelectItem(this)">Students</div>
            <div data-value="vet" onclick="toggleSelectItem(this)">Veterans</div>
            <div data-value="nguard" onclick="toggleSelectItem(this)">National Guard & Reserves</div>
            <div data-value="disability" onclick="toggleSelectItem(this)">Individuals with disabilities</div>
            <div data-value="native" onclick="toggleSelectItem(this)">Native Americans</div>
            <div data-value="mspouse" onclick="toggleSelectItem(this)">Military spouses</div>
            <div data-value="peace" onclick="toggleSelectItem(this)">Peace Corps & AmeriCorps Vista</div>
            <div data-value="overseas" onclick="toggleSelectItem(this)">Family of overseas employees</div>
            <div data-value="fed-competitive" onclick="toggleSelectItem(this)">Competitive service</div>
            <div data-value="fed-transition" onclick="toggleSelectItem(this)">Career transition (CTAP, ICTAP, RPL)</div>
            <div data-value="land" onclick="toggleSelectItem(this)">Land & base management</div>
        </div>
        <input type="hidden" name="hiring_path" id="hiring_path_input">
        <input type="hidden" name="question_index" value="9">
    {% elif question_index == 10 %}
        <label for="remote">Do you prefer remote work?</label>
        <div class="select-items">
            <div data-value="Yes" onclick="selectItem(this)">Yes</div>
            <div data-value="No" onclick="selectItem(this)">No</div>
            <div data-value="Hybrid" onclick="selectItem(this)">Hybrid</div>
        </div>
        <input type="hidden" name="remote" id="remote_input">
        <input type="hidden" name="question_index" value="10">
    {% elif question_index == 11 %}
        <label for="position_sensitivity">Some jobs are riskier than others. Position Sensitivity?</label>
        <div class="select-items">
            <div data-value="1" onclick="toggleSelectItem(this)">Non-sensitive - Low Risk</div>
            <div data-value="2" onclick="toggleSelectItem(this)">Noncritical-Sensitive - Moderate Risk</div>
            <div data-value="3" onclick="toggleSelectItem(this)">Critical-Sensitive - High Risk</div>
            <div data-value="4" onclick="toggleSelectItem(this)">Special-Sensitive - High Risk</div>
            <div data-value="5" onclick="toggleSelectItem(this)">Moderate Risk</div>
            <div data-value="6" onclick="toggleSelectItem(this)">High Risk</div>
            <div data-value="7" onclick="toggleSelectItem(this)">NCS - High Risk</div>
        </div>
        <input type="hidden" name="position_sensitivity" id="position_sensitivity_input">
        <input type="hidden" name="question_index" value="11">
    {% endif %}
    
    <br>
    <div class="submit-buttons">
        <button id="go-back" type="button" onclick="window.history.back()">Go Back</button>
        <button type="submit" {% if job_count == 0 %}disabled{% endif %}>Next</button>
    </div>
</form>

{% if job_count is defined %}
    <p class="job-count">Number of jobs matching current criteria: {{ job_count }}</p>
    {% if job_count == 0 %}
        <p class="job-count">No jobs found matching current criteria. Please go back and adjust your preferences.</p>
    {% endif %}
{% endif %}

<script>
function showSuggestions(value) {
    if (value.length === 0) {
        document.getElementById('suggestions').innerHTML = '';
        return;
    }

    fetch('/position_titles')
        .then(response => response.json())
        .then(data => {
            let suggestions = data.filter(title => title.toLowerCase().includes(value.toLowerCase()));
            let suggestionsHtml = suggestions.map(title => `<div onclick="selectSuggestion('${title}')">${title}</div>`).join('');
            document.getElementById('suggestions').innerHTML = suggestionsHtml;
        });
}

function selectSuggestion(value) {
    const selectedPositions = document.getElementById('selected_positions');
    const positionTitleInput = document.getElementById('position_title');
    const currentValues = positionTitleInput.value ? positionTitleInput.value.split(';') : [];
    
    if (!currentValues.includes(value)) {
        currentValues.push(value);
        positionTitleInput.value = currentValues.join(';');
        
        const positionDiv = document.createElement('div');
        positionDiv.textContent = value;
        const removeBtn = document.createElement('span');
        removeBtn.textContent = '×';
        removeBtn.classList.add('remove-btn');
        removeBtn.onclick = () => {
            positionDiv.remove();
            const index = currentValues.indexOf(value);
            if (index > -1) {
                currentValues.splice(index, 1);
                positionTitleInput.value = currentValues.join(';');
            }
        };
        positionDiv.appendChild(removeBtn);
        selectedPositions.appendChild(positionDiv);
    }
    
    document.getElementById('position_title_input_field').value = '';
    document.getElementById('suggestions').innerHTML = '';
}

function selectItem(element) {
    let inputId = element.parentNode.nextElementSibling.id;
    document.getElementById(inputId).value = element.getAttribute('data-value');
    element.parentNode.querySelectorAll('div').forEach(item => item.classList.remove('selected'));
    element.classList.add('selected');
}

function toggleSelectItem(element) {
    element.classList.toggle('selected');
    updateSelectedItems();
}

function updateSelectedItems() {
    const selectedItems = document.querySelectorAll('.select-items .selected');
    const selectedValues = Array.from(selectedItems).map(item => item.getAttribute('data-value'));
    const inputId = selectedItems[0].parentNode.nextElementSibling.id;
    document.getElementById(inputId).value = selectedValues.join(';');
}

// function initAutocomplete() {
//     const input = document.getElementById('location');
//     const autocomplete = new google.maps.places.Autocomplete(input, {
//         types: ['(cities)'],
//         componentRestrictions: { country: 'us' }
//     });

    // autocomplete.addListener('place_changed', function() {
    //     const place = autocomplete.getPlace();
    //     if (place.address_components) {
    //         const selectedLocations = document.getElementById('selected_locations');
    //         const locationInput = document.getElementById('location_input');
    //         const currentValues = locationInput.value ? locationInput.value.split(';') : [];
    //         const value = place.formatted_address;

    //         if (currentValues.length < 3 && !currentValues.includes(value)) {
    //             currentValues.push(value);
    //             locationInput.value = currentValues.join(';');

    //             const locationDiv = document.createElement('div');
    //             locationDiv.textContent = value;
    //             const removeBtn = document.createElement('span');
    //             removeBtn.textContent = '×';
    //             removeBtn.classList.add('remove-btn');
    //             removeBtn.onclick = () => {
    //                 locationDiv.remove();
    //                 const index = currentValues.indexOf(value);
    //                 if (index > -1) {
    //                     currentValues.splice(index, 1);
    //                     locationInput.value = currentValues.join(';');
    //                 }
    //             };
    //             locationDiv.appendChild(removeBtn);
    //             selectedLocations.appendChild(locationDiv);
    //         }

    //         document.getElementById('location').value = '';
    //     }
    // });

document.addEventListener('DOMContentLoaded', function() {
    initAutocomplete();
});
</script>

{% endblock %}
